<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/fad68f51-7877-45f7-9b7f-83eba85d5816/resourceGroups/ReactApiRsa20230623192250ResourceGroup/providers/Microsoft.Web/sites/ReactApiRsa20230623192250</ResourceId>
    <ResourceGroup>ReactApiRsa20230623192250ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/fad68f51-7877-45f7-9b7f-83eba85d5816/resourceGroups/ReactApiRsa20230623192250ResourceGroup/providers/Microsoft.ApiManagement/service/ReactApiRsaapi/apis/ReactApiRsa</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://reactapirsa20230623192250.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>ce7574c0-384e-4ea3-b285-bf0c398ff64d</ProjectGuid>
    <PublishUrl>https://reactapirsa20230623192250.scm.azurewebsites.net/</PublishUrl>
    <UserName>$ReactApiRsa20230623192250</UserName>
    <_SavePWD>true</_SavePWD>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>